p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

.container {
    background-color: rgb(50, 224, 196);
}

#image {
    margin-top: 20px;
    padding: 15px;
}
/* 
.navbar-toggler {
    position: absolute;
} */

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  padding: 20px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {box-sizing: border-box;}

p {
  margin: 0 0 1em 0;
}

.container {  
  border: 5px solid rgb(111, 144, 139);
  border-radius: .5em;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.item {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: rgba(50, 224, 196);
  border: 2px solid rgba(50, 224, 196);
}


